@model IEnumerable<SINF_App.Models.Fornecedor>

@*<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">*@

    @*<div class="panel panel-default">*@

<div class="row">
        <div class="panel-heading" role="tab" id="headingTwo">

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Fornecedor
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        @Html.ActionLink("Mostrar tudo", "Encomendas", "Home", new
                       {
                           Username = ViewBag.loginInfo.Username,
                           Company = ViewBag.loginInfo.Company,
                           Password = ViewBag.loginInfo.Password,
                           Storage = ViewBag.loginInfo.Storage,
                           IdFornecedor = "todos"
                       }, null)
                    </li>
                    @foreach (var item in Model)
                    {
                        <li role="presentation">
                            @Html.ActionLink(item.Nome, "Encomendas", "Home", new
                       {
                           Username = ViewBag.loginInfo.Username,
                           Company = ViewBag.loginInfo.Company,
                           Password = ViewBag.loginInfo.Password,
                           Storage = ViewBag.loginInfo.Storage,
                           IdFornecedor = item.ID
                       }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
@*</div>*@
@*</div>*@